<footer>
    <div class="social-meida-container">
        <h2>Stay up to date what were doing!</h2>

        <ul>
            <li>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>

            <li>
                <a href="https://twitter.com" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>

            <li>
                <a href="https://linkedin.com" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>

            <li>
                <a href="https://www.youtube.com" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>
    </div>

    <p class="copy-right">
        {{year}} - Zin Ko Winn Inc.
    </p>
</footer>