<div class="password-container">
    <div class="password">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="" [(ngModel)]="password" #passwordInput="ngModel">
    </div>

    <div class="password-strength">
        <progress [value]="passwordStrengthPercent" [max]="100"></progress>
    </div>

    <div class="password-hints" *ngIf="passwordInput.touched">
        <ul>
            <li *ngIf="!is8CharsOrGreater">Min length of 8 required.</li>
            <li *ngIf="!hasOneCapitalLetterOrMore">One or more capital letter required.</li>
            <li *ngIf="!hasOneNumberOrMore">One or more number required.</li>
            <li *ngIf="!hasOneSpecialCharacterOrMore">One or more special character required.</li>
        </ul>
    </div>
</div>